<li id="issue-<%= issue.id %>">
  <%= link_to gravatar_for(issue.user, size: 50), issue.user %>
  <!-- <span class="user"><%= link_to issue.user.name, issue.user %></span> -->
  <span class="content"><%= link_to issue.title, issue_path(issue.id) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(issue.created_at) %> ago.
  </span>
</li>