<% provide(:title, 'Sign up') %>
<h1><%= t("signup") %></h1>

<div class="signup-form-container clearfix">
  <div class="signup-form">
    <%= form_for(@user, url: signup_path) do |f| %>
    <!--<%= render 'shared/error_messages' %>-->

    <dl class="form">
        <dt><%= f.label t("form.Name") %></dt>
        <dd><%= f.text_field :name, class: 'form-control' %></dd>
        <% if @user.errors[:name].any? %>
        <dd class="error"><%= @user.errors[:name][0] %></dd>
        <% end %>
    </dl>

    <dl class="form">
        <dt><%= f.label t("form.Email") %></dt>
        <dd><%= f.text_field :email, class: 'form-control' %></dd>
        <% if @user.errors[:email].any? %>
        <dd class="error"><%= @user.errors[:email][0] %></dd>
        <% end %>
    </dl>


    <dl class="form">
        <dt><%= f.label t("form.Password") %></dt>
        <dd><%= f.password_field :password, class: 'form-control' %></dd>
        <% if @user.errors[:password].any? %>
        <dd class="error"><%= @user.errors[:password][0] %></dd>
        <% end %>
    </dl>

    <dl class="form">
        <dt><%= f.label t("form.Confirmation") %></dt>
        <dd><%= f.password_field :password_confirmation, class: 'form-control' %></dd>
        <% if @user.errors[:password_confirmation].any? %>
        <dd class="error"><%= @user.errors[:password_confirmation][0] %></dd>
        <% end %>
    </dl>

    <%= f.submit t("signup"), class: "btn btn-primary" %>
    <% end %>
    このページは、SSLによって保護されています。(数据库中不存储明文密码)
</div>
</div>